name: Unit Test

on:
  pull_request:
    types:
      - assigned
      - opened
      - ready_for_review
      - review_requested
    branches:
      - master

  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to test"
        required: true

jobs:
  unit-test:
    name: Unit Test
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout to workspace
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm test:coverage --ci

      - name: Comment on pull request
        if: github.event_name == 'pull_request'
        uses: MishaKav/jest-coverage-comment@main
