name: Unit Test

on:
    push:

jobs:
    unit-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout to workspace
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .nvmrc
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Run unit tests
              run: pnpm test
