name: Unit Test

on:
  pull_request:
    branches:
      - master

  workflow_dispatch:
    inputs:
      pr_number:
        description: "Pull request number"
        required: true
        type: string

jobs:
  unit-test:
    name: Unit Test
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout to workspace
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        env:
          NODE_OPTIONS: "--no-experimental-webstorage"
          JEST_JUNIT_OUTPUT_DIR: "./coverage"
        continue-on-error: true
        run: mkdir -p coverage && pnpm jest --ci --coverage=true --coverageReporters=text --coverageReporters=json-summary --reporters=jest-junit | tee /coverage/coverage.txt

      - name: Comment on pull request
        if: github.event_name == 'pull_request'
        uses: MishaKav/jest-coverage-comment@main
        with:
          issue-number: ${{ github.event.inputs.pr_number }}
          create-new-comment: true
          coverage-title: "Unit Test Coverage Report"
          coverage-path: /coverage/coverage.txt

      - name: Test Report
        uses: dorny/test-reporter@v2
        with:
          name: Jest Unit Test Report
          path: coverage/junit.xml
          reporter: jest-junit
